* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
}


#board {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    width: 600px;
    margin: auto;
    background: url(https://i.imgur.com/raiPPvS.jpeg);
}

#scoreboard-1, #scoreboard-2 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
}

#both-players {
    border: 2px solid orange;
    height: 100px;
    width: 400px;
    text-align: center;
} 

.pod-a {
    border: 22px solid blue;
    display: inline-block;
    border-radius: 50% ;
}

.pod-b {
    border: 22px solid green;
    display:inline-block;
    border-radius: 50%;
    
}


#message-box {
    height: 75px ;
}

