* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
}


#board {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    width: 600px;
    margin: auto;
    background: url(https://i.imgur.com/raiPPvS.jpeg);
}

#scoreboard1, #scoreboard2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    height: 150px;
    width: 100px;
    color: white;
    background: url(https://i.imgur.com/3c1pCsV.jpg)
}

#both-players {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    border: 2px solid black;
    height: 150px;
    width: 400px;
    text-align: center;
    background: url(https://i.imgur.com/3c1pCsV.jpg)
} 

.pod-a {
    border: 2px solid black;
    padding: 20px;
    background-color: blue;
    color: white;
    display: inline-block;
    border-radius: 50% ;
}

.pod-b {
    border: 2px solid black;
    padding: 20px;
    background-color: green;
    color: white;
    display:inline-block;
    border-radius: 50%;
    
}


#message-box {
    height: 75px ;
}

#player-one, #player-two {
    display: flex;
    flex-wrap:wrap ;
    align-content: space-around;
    justify-content: space-evenly;
}
